extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/blackrose.css')

block content
  h1 black rose
  #container
    img(src="/images/whiterose.png", id="white")
    img(src="/images/blackrose.png", id="black")
