extends layout

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js')
  script(src='/javascripts/handofglory.js')

block styles
  link(rel='stylesheet', href='/stylesheets/handofglory.css')

block content  
  iframe