$degree = 48
.tv 
  //animation bigger 4s ease-in infinite
  transform-origin left
  fill rgba(255,255,255,0)
  transform-origin center
  for i in 1..8
    &:nth-child({i}),&:nth-child({i}) rect
      animation-name (big- + i)
      animation-duration 8s
      animation-iteration-count infinite
      animation-delay (1 * (i - 1))s
  &:before
    content ''
for i in 1..8
  $keyframe-name = (big- + i)
  @keyframes {$keyframe-name} 
    from
      transform rotate(($degree * i)deg) scale(0) 
      stroke-width 4px
      stroke #000
    to
      transform rotate(($degree * (i+1))deg) scale(70) 
      stroke-width 1px

svg.background.notfound
  animation background 16s infinite

@keyframes background 
  0%
    background #fff
  25%
    background #00f
  50%
    background #0f0
  75%
    background #f00