html,body,#container,img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  font-size: 96px;
  font-family: arial;
  text-transform: uppercase;
  width: 100%;
}
  h1:hover + #container{ 
    background: black
  }
    h1:hover + #container #white{
        display: block
    }
    h1:hover + #container #black{
        display: none
    }
#white {
  display: none
}
