html, body, svg{
	height: 100%;
	width: 100%;
	margin: 0;
	background: #000;
}
.rect {
	border-color:#fff;
	border-width: 1px;
	border-style: solid;
	height: 200px;
	width: 50px;
}

iframe {
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

iframe.play{
	display:block;
	z-index: 1;
}