extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  ul
    li 
      a(href='/thunderbolt') thunderbolt
    li 
      a(href='/about') about
    li
      a(href='/handofglory') handofglory
    li
      a(href='cryingintoabowloffruit') cryingintoabowloffruit
    li
      a(href='spintris') spintris
  #alphabet abcdefghijklmnopqrstuvwxy