body {

  background: url(/images/cryingintoabowloffruit.jpg) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

}
html,
body,
svg,
svg>rect {
    height: 100%;
    width: 100%;
    margin: 0;
    fill:none;
}

svg>path{
    stroke: #1976D2;
    fill: #64B5F6;
    opacity: 0.7;
}

image {
  height: 150px;
  width: 100px;
  position: absolute;
}