html,
body,
svg,
svg>rect {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fff;
}

rect {
    fill: none;
    pointer-events: all;
}

path {
    stroke: black;
    fill: none;
    animation: lightningeffect .3s infinite;
    -moz-animation: lightningeffect .3s infinite;
    -webkit-animation: lightningeffect .3s infinite;
}

path.thor{
    stroke-width:2px;
}
path.zeus{
    stroke-width:3px;
    animation: zeuslightning .3s infinite;
    -moz-animation: zeuslightning .3s infinite;
    -webkit-animation: zeuslightning .3s infinite;
}

path.rotate{
    stroke-dasharray: 100;
        -webkit-animation:dash 4s linear infinite;
    -moz-animation:dash 4s linear infinite;
    animation:dash 4s linear infinite;
}


@-moz-keyframes lightningeffect
{
    0% {stroke: black;}
    50% {stroke: blue;}
    100% {stroke: black;}
}

@-webkit-keyframes lightningeffect
{
    0% {stroke: black;}
    50% {stroke: blue;}
    100% {stroke: black;}
}

 @-webkit-keyframes zeuslightning
{
    0% {stroke: black;}
    50% {stroke: blue;}
    100% {stroke: salmon;}
}


@-webkit-keyframes dash{
    to {
        stroke-dashoffset: 3000;
      }
}

body.thunder > svg {
    animation: thunder 1s ;
    -moz-animation: thunder 1s ;
    -webkit-animation: thunder 1.5s;
}

@-webkit-keyframes thunder
{
    10% {background: black}
}

body.storm > svg {
     animation: storm 10s ;
    -moz-animation: storm 10s ;
    -webkit-animation: storm 10s;
}

@-webkit-keyframes storm
{
    0% {background: black}
    10% {background: white}
    20% {background: black}
    30% {background: white}
    40% {background: black}
    50% {background: white}
    60% {background: black}
    70% {background: white}
    80% {background: black}
    90% {background: white}
    100% {background: black}
}
