html,
body,
svg,
svg>rect {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fff;
}
#left-control, #right-control{
	z-index:1;
	width:50%;
	height:100%;
	position: absolute;
	top:0;
}
#left-control:hover,#right-control:hover{
	background: black;
	opacity: 0.1;
}
#left-control {	left:0; }
#right-control { right:0; }

.block{
	width:inherit;
	height:10%;
	box-sizing: border-box;
	width: 100%;
	fill:white;
	stroke:black;
}
.block.red{
	fill:red;
	background: red;
	stroke: darkred;
}
.block.blue {
	fill: blue;
	stroke: darkblue;
}
.block.yellow {
	fill:#FFC107;
	stroke: #FFB300;
}
.block.green {
	fill:#9CCC65;
	stroke: #558B2F;
}

.score-board{
	position: fixed;
	margin: 0 auto;
	font-family: monospace;
	font-size: x-large;
}
