body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.minimalism ul, body.dada ul  {
	list-style-type: none;
}

body.minimalism a, body.dada a {
	position: absolute;
	color:#000;
}
body a {
	text-decoration: none;
}

body.letters div {
	font-family: monospace;
	word-break: break-word;
	white-space: normal;
}

body #alphabet {
	display: none;
	visibility: hidden;
}

a {
  color: #00B7FF;
}

div {
	white-space: pre;
}